## Finding Euclidean distance

In [155]:
from math import sqrt
import warnings
warnings.filterwarnings("ignore")

In [33]:
def euclidean_distance(row1, row2):
 distance = 0.0
 for i in range(len(row1)):
     distance += (row1[i] - row2[i])**2
 finalDistance = sqrt(distance)
 return finalDistance

In [39]:
import pandas as pd

In [147]:
df = pd.read_csv("netflix_titles.csv")

df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [51]:
dfcopy = df.copy()

usefulColumns = ['show_id', 'type', 'title', 'listed_in']


Maindf = dfcopy[usefulColumns]

Maindf.tail()

,show_id,type,title,listed_in
8802,s8803,Movie,Zodiac,"Cult Movies, Dramas, Thrillers"
8803,s8804,TV Show,Zombie Dumb,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Movie,Zombieland,"Comedies, Horror Movies"
8805,s8806,Movie,Zoom,"Children & Family Movies, Comedies"
8806,s8807,Movie,Zubaan,"Dramas, International Movies, Music & Musicals"

In [53]:
categories = df['listed_in'].str.get_dummies(sep = ', ')

Maindf = pd.concat([Maindf, categories], axis = 1)

Maindf.tail()

,show_id,type,title,listed_in,Action & Adventure,Anime Features,Anime Series,British TV Shows,Children & Family Movies,Classic & Cult TV,...,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Mysteries,TV Sci-Fi & Fantasy,TV Shows,TV Thrillers,Teen TV Shows,Thrillers
8802,s8803,Movie,Zodiac,"Cult Movies, Dramas, Thrillers",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
8803,s8804,TV Show,Zombie Dumb,"Kids' TV, Korean TV Shows, TV Comedies",0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8804,s8805,Movie,Zombieland,"Comedies, Horror Movies",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8805,s8806,Movie,Zoom,"Children & Family Movies, Comedies",0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8806,s8807,Movie,Zubaan,"Dramas, International Movies, Music & Musicals",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
dfcopy2 = Maindf.copy()
droppedColumns = ['show_id', 'type', 'title', 'listed_in']
vectorDF = dfcopy2.drop(droppedColumns, axis = 1)

vectorDF.head()

for columns in vectorDF:
    print(columns)

Action & Adventure
Anime Features
Anime Series
British TV Shows
Children & Family Movies
Classic & Cult TV
Classic Movies
Comedies
Crime TV Shows
Cult Movies
Documentaries
Docuseries
Dramas
Faith & Spirituality
Horror Movies
Independent Movies
International Movies
International TV Shows
Kids' TV
Korean TV Shows
LGBTQ Movies
Movies
Music & Musicals
Reality TV
Romantic Movies
Romantic TV Shows
Sci-Fi & Fantasy
Science & Nature TV
Spanish-Language TV Shows
Sports Movies
Stand-Up Comedy
Stand-Up Comedy & Talk Shows
TV Action & Adventure
TV Comedies
TV Dramas
TV Horror
TV Mysteries
TV Sci-Fi & Fantasy
TV Shows
TV Thrillers
Teen TV Shows
Thrillers

In [130]:
def nearestNeighbours(row1, kValue):

    distances = list()
    closestN = list()
    
    for rows in range(len(vectorDF)):
        
        targetRow = vectorDF.iloc[rows]
        
        dist = euclidean_distance(row1, targetRow)
        distances.append((dist, rows))

    distances.sort(key=lambda tup: tup[0])

    for i in range(1, kValue + 1):
        closestN.append(distances[i])

    return closestN

In [156]:
row = 0
title = dfcopy.loc[row, "title"]

while title != "Kota Factory":
    row = row + 1
    title = dfcopy.loc[row, "title"]


nearest = nearestNeighbours(vectorDF.iloc[row], 20)

similar = [t[1] for t in nearest]

for c in range(len(similar)):
    print(dfcopy.loc[similar[c], "title"])

The Smart Money Woman
Hotel Del Luna
Hometown Cha-Cha-Cha
I Need Romance
Office Girls
The Prince Who Turns into a Frog
Two Fathers
You're My Destiny
Feels Like Ishq
Her Private Life
Good Morning Call
Generation 56k
Gameboys Level-Up Edition
Let's Eat
Mad for Each Other
Use For My Talent
Let's Fight Ghost
Dancing Angels
Hello, Me!
The House Arrest of Us